@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<CanvasArtWorks.Models.Artwork>

<div >
    <div class="row">
        <div class="col-sm-2" style="margin-bottom: 10px;">
            <a class="nav-link text-dark btn btn-outline-success" asp-area="" asp-controller="Artworks" asp-action="Create">Make Art</a>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model) {
            <div class="col-sm-4">
                <div class="card">
                    <div height="200" class="card-img-top" alt="image">
                        @Html.Raw(item.Image)
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name) </h5>
                        <p class="card-text">Created at: @Html.DisplayFor(modelItem => item.CreatedAt)</p>
                        <a class="btn btn-outline-primary" asp-route-id="@item.Id" asp-controller="Artworks" asp-action="Details"> Details</a>
                    </div>
                </div>
            </div>
          
        }
    </div>
</div>
<script src="~/lib/jquery-1.8.2.js"></script>
<script>
$("svg").attr("width","100%");
$("svg").attr("height","250")
</script>
