@{
    ViewData["Title"] = "Home Page";
}

<div >
  <div class="row">
   <a class="nav-link text-dark btn btn-outline-success" asp-area="" asp-controller="Artworks" asp-action="Create">Make Art</a>
      <div class="col-sm-4">
          <div class="card">
              <img src="favicon.ico" height="200" class="card-img-top" alt="image"/>
              <div class="card-body">
                  <h5 class="card-title"> Artwork title</h5>
                  <p class="card-text">description of artwork</p>
                  <a href="#" class="btn btn-outline-primary"> Details</a>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card">
              <img src="favicon.ico"  height="200" class="card-img-top " alt="image"/>
              <div class="card-body">
                  <h5 class="card-title"> Artwork title</h5>
                  <p class="card-text">description of artwork</p>
                  <a href="#" class="btn btn-outline-primary"> Details</a>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
                <div class="card">
                    <img src="favicon.ico" height="200" class="card-img-top" alt="image"/>
                    <div class="card-body">
                        <h5 class="card-title"> Artwork title</h5>
                        <p class="card-text">description of artwork</p>
                        <a href="#" class="btn btn-outline-primary"> Details</a>
                    </div>
                </div>
              </div>
  </div>
</div>
